/* Estilo general para la página de descargas */
.download {
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center; /* Asegura que el texto esté centrado */
}

/* Estilo del título de la sección de descargas */
.download h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffd900;
}

/* Estilo del texto descriptivo */
.download p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Contenedor de opciones de descarga */
.opciones_descarga {
    display: flex;
    justify-content: center;
    gap: 30px; /* Espacio entre los rectángulos */
    flex-wrap: wrap; /* Permite que los contenedores se ajusten si hay mucho contenido */
}

/* Estilo para cada opción de descarga */
.download-option {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 300px;  /* Hacerlo más ancho para un rectángulo */
    height: 500px; /* Ajustar la altura para un cuadrado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: space-between; /* Para espaciar el contenido de manera uniforme */
}

/* Estilo de las imágenes en cada opción */
.download-option img {
    width: 80px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-bottom: 10px; /* Ajusta el espacio entre la imagen y las características */
}

/* Estilo del título dentro de cada opción de descarga */
.download-option h2 {
    margin-bottom: 15px; /* Ajusta el espacio entre el título y las características */
}

/* Estilo de las características del producto */
.download-option h5 {
    margin: 0; /* Elimina completamente el margen para pegar las características */
    padding: 0; /* Asegura que no haya padding adicional */
    font-size: 1rem; /* Tamaño de fuente ajustable */
    color: #a4901f;
}

/* Espacio entre las características y otros elementos en el contenedor */
.download-option .download-btn {
    margin-top: 15px; /* Ajusta el espacio entre las características y el botón */
}

/* Estilo de los botones de descarga */
.download-btn {
    background-color: #f1e5ac;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Elimina el subrayado del enlace */
    transition: background-color 0.3s ease;
}

/* Efecto hover en los botones */
.download-btn:hover {
    background-color: #e0d488;
}

