/* Estilo general para la página de cuenta */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #626161; /* Fondo de un gris claro */
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px; /* Añadir espacio superior para el menú fijo */
}

/* Estilo del contenedor del formulario */
.cuenta .form-container {
    background-color: #fafafa; /* Recuadro de un gris más claro tirando a blanco */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar los recuadros internamente */
}

/* Estilo del título de la sección de cuenta */
.cuenta h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #cbb743; /* Color del título */
    text-align: center;
    margin-top: 0; /* Elimina cualquier margen superior */
}

/* Estilo de las etiquetas y campos de entrada */
.cuenta label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333; /* Color del texto */
    width: 100%; /* Asegura que las etiquetas estén alineadas */
}

.cuenta input {
    width: 375px; /* Asegura que los recuadros ocupen el ancho completo */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
    background-color: #fff; /* Fondo blanco para los campos de entrada */
    color: #333; /* Texto en gris oscuro */
    font-size: 1rem;
}

.cuenta input[readonly] {
    background-color: #e0e0e0; /* Fondo gris claro para los campos de solo lectura */
}

/* Estilo de los botones */
.cuenta button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6c5f98; /* Color del botón */
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cuenta button:hover {
    background-color: #5a4d81;
}

/* Estilo del botón de mostrar contraseña */
#showPasswordBtn {
    background-color: #999; /* Color de fondo para diferenciarlo */
    color: #fff;
}

/* Estilo del pie de página */
footer {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    margin-top: auto;
    width: 100%;
}
